@media (max-width: 365px) {
  .hide-sm-fold {
    display: none;
  }
}

@media (max-width: 794px) {
  .toggle-if-mobile {
    flex-grow: 1;
    justify-content: flex-end;
  }
  .hide-if-mobile {
    display: none;
  }
}
