.header-appbar {
  background-color: white !important;
  box-shadow: none !important;
  color: black !important;
  border-bottom: 1px solid lightgray;
}

.header-appbar .head-top-section {
  display: flex;
  align-items: center;
}

.head-bottom-section .stack-link {
  text-decoration: none;
  padding-bottom: 8px!important;
  font-size: 13px;
  color: black;
  border-bottom: 2px solid transparent;
  font-weight: 300;

  transition: color .15s, border-bottom .15s;
}
.head-bottom-section .stack-link:hover {
  color: rgb(36, 36, 36);
  border-bottom: 2px solid rgb(36, 36, 36);
}

.hide-if-mobile {
  flex: 1;
}
@media (max-width: 794px) {
  .hide-if-mobile {
    display: none;
  }
  .show-if-mobile {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
  }
}
@media (min-width: 795px) {
  .show-if-mobile {
    display: none;
    padding-bottom: 8px;
  }
}
