.image-container {
    width: 650px !important;
    height: 635px !important;
}

.price-w-discount {
    display: flex;
    align-items: baseline;
}
.price-w-discount .old-price {
    text-decoration: line-through;
}

.seller-section {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
}
.seller-section .seller {
    display: flex;
    align-items: baseline;
}

@media (max-width: 1470px) {
    .add-margin-when-sizing {
        margin-bottom: 1.8rem;
    }
}

.add-to-cart-btn {
    width: 100%;
    color: white !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    text-transform: none !important;
    border-radius: 25px !important;
    padding: 10px !important;
}